html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }
 #HELLO
 {
width: 500px;
height: 450px;
background-color: aqua;
display: flex;
flex-direction: column;
 }
 #h{
  width: 500px;
    height: 50px;
    padding: auto;
    background-color: blueviolet;
    margin-bottom: 10px;
 }
 #a{
  width: 100px;
    height: 80px;
    padding: auto;
    background-color:gray;
    margin-bottom: 10px;
 }
 #b{
     width: 100px;
    height: 80px;
    padding: auto;
    background-color: red;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 100px;
    
 }
 #c{
     width: 100px;
    height: 80px;
    padding: auto;
    background-color: green;
    margin-bottom: 10px;
    margin-left: 100px; 
 }
 #main{
    display: flex;
 }
 #f1
 {
     width: 100px;
    height: 80px;
    padding: auto;
    background-color:gray;
    margin-bottom: 10px;
 }
 #f2
 {
      width: 100px;
    height: 80px;
    padding: auto;
    background-color: red;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 100px;
    

 }
 #f3{
      width: 100px;
    height: 80px;
    padding: auto;
    background-color: red;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 100px;
    
 }
 #star
 {
    display: flex;
 }
 #d2
 {  width: 100px;
    height: 80px;
    padding: auto;
    background-color:gray;
    margin-bottom: 10px;
 

 }
 #d1{
    
   width: 100px;
    height: 80px;
    padding: auto;
    background-color: red;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 100px;
    
 }
 #d3
 {

       width: 100px;
    height: 80px;
    padding: auto;
    background-color: violet;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 100px;
    
 }
 #class{
    display: flex;
 }
 #P{
      width: 500px;
    height: 70px;
    padding: auto;
    background-color: blueviolet;
    margin-bottom: 10px; 
    
 }
 #W{
    width: 500px;
    height: 50px;
    padding: auto;
    background-color: red;
    margin-bottom: 10px;
 }