 html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }
 #class
 {
width: 500px;
height: 450px;
background-color: aqua;
display: flex;
flex-direction: column;
 }
 #a
 {
    width: 500px;
    height: 50px;
    padding: auto;
    background-color: blueviolet;
    margin-bottom: 10px;
 }
 #b
 {
     width: 500px;
    height: 80px;
    padding: auto;
    background-color: red;
    margin-bottom: 10px;
 
 }
 #c 
 {
     width: 500px;
    height: 80px;
    padding: auto;
    background-color: black;
    margin-bottom: 10px;
 
 }
 #d1
 {
     width: 100px;
    height: 180px;
    padding: auto;
    background-color:gray;
    margin-bottom: 10px;

 
 }
 #d2
 {
     width: 100px;
    height: 180px;
    padding: auto;
    background-color: red;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 100px;
    
 
 }
 #d3
 {
     width: 100px;
    height: 180px;
    padding: auto;
    background-color: green;
    margin-bottom: 10px;
    margin-left: 100px;
 
 }
 #d{
    display: flex;
 }
 #e
 {
    width: 500px;
    height: 50px;
    padding: auto;
    background-color:violet;
    margin-bottom: 10px;
 

 }


