 html
 {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }
 #class{
     width: 550px;
     height: 600PX;
     background-color: aqua;
     display: flex;
     flex-direction: column;
 }
 #a{
    width: 550px;
    height: 100px;
    padding: auto;
    margin-bottom: 10px;
    background-color: red;
 }
 #b{
     width: 550px;
    height: 50px;
    padding: auto;
    margin-bottom: 10px;
    background-color: gray;
 }
 #c
 {
     width: 550px;
    height: 125px;
    padding: auto;
    margin-bottom: 10px;
    background-color: black;
 }
#d1
{
     width: 250px;
    height: 200px;
    padding: auto;
    margin-bottom: 10px;
    background-color: aliceblue;
}
#d2
{
     width: 250px;
    height: 200px;
    padding: auto;
    margin-bottom: 10px;
    background-color: blue;
    text-align: right;
    margin-left: 50px;
    

}
#d{ display: flex;

}
#e
{
     width: 550px;
    height: 80px;
    padding: auto;
    margin-bottom: 10px;
    background-color: aliceblue;
}